<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{:C('COMPANY_NAME')} - {:getTitle(MODULE_NAME,CONTROLLER_NAME,ACTION_NAME)}</title>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/KindEditor/themes/default/default.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/dropload.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/metisMenu.min.js"></script>
    <script src="__PUBLIC__/Admin/js/admin.js"></script>
    <script src="__PUBLIC__/Admin/js/plupload/plupload.full.min.js"></script>
    <script src="__PUBLIC__/Admin/js/vue.min.js"></script>
    <script src="__PUBLIC__/Admin/UEditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/Admin/UEditor/ueditor.all.min.js"> </script>
    <script src="__PUBLIC__/Admin/UEditor/lang/zh-cn/zh-cn.js"></script>
	<script src="__PUBLIC__/Admin/KindEditor/kindeditor-all-min.js"></script>
    <script src="__PUBLIC__/Admin/KindEditor/lang/zh-CN.js"></script>
    <script src="__PUBLIC__/Admin/js/dropload.min.js"></script>
    <!--
        arctemplate 与 vue 冲突
        <script src="__PUBLIC__/Admin/js/template.js"></script>
    -->
    <script src="__PUBLIC__/Admin/js/common.js"></script>
</head>
<body>
