html,body{
	background: #fff;
}
.header{
	background: #fefefe;
	height: 77px;
	border-bottom: solid 1px #d6d6d6;
}
.container{
	width: 1000px;
	margin: auto;
}
.header_logo{
	float: left;
	color: #427eba;
	line-height: 77px;
	font-size: 20px;
}
.header_item{
	float: right;
	color: #8e8e8e;
	padding: 10px 0px;
}
.header_item li{
	line-height: 28.5px;
	text-align: right;
}
.header_item li a{
	display: block;
	background: url(../images/qq.png) left center no-repeat;
	padding-left: 30px;
	color: #185294;
}
.order_main{
	margin-top: 10px;
}
.order_main li label{
	float: left;
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: #427eba;
	text-align: right;
}
.order_main li span{
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
}
.order_main table{
	width: 100%;
	margin-top: 10px;
}
.order_main th{
	background: #f2f9ff;
	color: #427eba;
	line-height: 40px;
	text-align: center;
	border-bottom: solid 1px #e0eef9;
}
.order_main td{
	line-height: 40px;
	text-align: center;
	background: #fbfdff;
}
.main{
	margin-top: 10px;
}
.main .left{
	float: left;
	width: 300px;
}
.main .right{
	float: right;
	width: 688px;
	border: solid 1px #e5e5e5;
}
.box{
	margin: 10px;
}
.box h1{
	color: #427eba;
	text-align: center;
	border-bottom: solid 1px #b8c8d7;
	line-height: 40px;
}
.box_main_qrcode img{
	width: 100%;
}
.box_main{
	margin-top: 10px;
}
.box_main li{
	line-height: 30px;
}
.copyright{
	text-align: center;
	margin-top: 10px;
	border-top: solid 1px #e2e2e2;
	line-height: 40px;
}
.info li label{
	float: left;
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
}
.info{
	margin: 20px;
}
.info li{
	margin-bottom: 20px;
}
.info li input{
	border: solid 1px #ccc;
	line-height: 40px;
	padding: 0px 10px;
	width: 526px;
}
.pay_type li{
	float: left;
	color: #f5f5f5;
	border: solid 1px #f0f0f0;
	line-height: 40px;
	margin: 0px;
	margin-right: 10px;
	padding: 0px 10px;
	position: relative;
}
.pay_type li a{
	display: block;
}
.pay_type li.active{
	border-color: #6ac840;
}
.pay_type li.active a{
	color: #6ac840;
}
.pay_type li img{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.total{
	line-height: 40px;
}
.total font{
	color: #ff6600;
	font-size: 20px;
	margin-right: 5px;
}
.submit{
	float: left;
	background: #6ac840;
	color: #fff;
	border-radius: 5px;
	padding: 0px 10px;
	line-height: 40px;
}